<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krazey.resdensity"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <application
        android:allowBackup="false"
        android:persistent="true"
        android:directBootAware="true">

        <service
            android:name=".ResDensityService"
            android:exported="false"
            android:directBootAware="true" />

        <receiver
            android:name=".BootReceiver"
            android:exported="true"
            android:directBootAware="true"
            android:enabled="true">

            <!-- Boot / direct-boot / unlock -->
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_UNLOCKED"/>
            </intent-filter>

            <!-- App updated -->
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
