on fs
    wait /dev/block/platform/11120000.ufs
    symlink /dev/block/platform/11120000.ufs /dev/block/bootdevice
    symlink /dev/block/bootdevice/by-name/BOOT /dev/block/bootdevice/by-name/boot
    symlink /dev/block/bootdevice/by-name/RECOVERY /dev/block/bootdevice/by-name/recovery
    symlink /dev/block/bootdevice/by-name/SYSTEM /dev/block/bootdevice/by-name/system
    symlink /dev/block/bootdevice/by-name/VENDOR /dev/block/bootdevice/by-name/vendor
    symlink /dev/block/bootdevice/by-name/ODM /dev/block/bootdevice/by-name/odm
    symlink /dev/block/bootdevice/by-name/CACHE /dev/block/bootdevice/by-name/cache

on init
    setprop sys.usb.configfs 1
