# Green Screen Workaround
on init
    chown system system /sys/devices/platform/panel_drv@001/backlight/panel/device/lcd/panel/fix_green_screen
    write /sys/devices/platform/panel_drv@001/backlight/panel/device/lcd/panel/fix_green_screen 1
