# Green Screen Workaround
on boot && property:persist.vendor.panel.greenfix=1
    write /sys/devices/platform/panel_drv@001/lcd/panel/fix_green_screen 1

on boot && property:persist.vendor.panel.greenfix=0
    write /sys/devices/platform/panel_drv@001/lcd/panel/fix_green_screen 0

on property:persist.vendor.panel.greenfix=1
    write /sys/devices/platform/panel_drv@001/lcd/panel/fix_green_screen 1

on property:persist.vendor.panel.greenfix=0
    write /sys/devices/platform/panel_drv@001/lcd/panel/fix_green_screen 0
