on early-init
    mount cgroup none /dev/cpuset cpuset
    mkdir /dev/cpuset 0755 root root

    mkdir /dev/cpuset/top-app 0755 system system
    mkdir /dev/cpuset/foreground 0755 system system
    mkdir /dev/cpuset/foreground/boost 0755 system system
    mkdir /dev/cpuset/background 0755 system system
    mkdir /dev/cpuset/system-background 0755 system system
    mkdir /dev/cpuset/restricted 0755 system system
    mkdir /dev/cpuset/camera-daemon 0755 system system

    # Set cpus/mems
    write /dev/cpuset/cpuset.mems 0
    write /dev/cpuset/cpuset.cpus 0-7

    write /dev/cpuset/top-app/cpuset.mems 0
    write /dev/cpuset/top-app/cpuset.cpus 0-7

    write /dev/cpuset/foreground/cpuset.mems 0
    write /dev/cpuset/foreground/cpuset.cpus 0-5

    write /dev/cpuset/foreground/boost/cpuset.mems 0
    write /dev/cpuset/foreground/boost/cpuset.cpus 4-7

    write /dev/cpuset/background/cpuset.mems 0
    write /dev/cpuset/background/cpuset.cpus 0-2

    write /dev/cpuset/system-background/cpuset.mems 0
    write /dev/cpuset/system-background/cpuset.cpus 0-3

    write /dev/cpuset/restricted/cpuset.mems 0
    write /dev/cpuset/restricted/cpuset.cpus 0-5

    write /dev/cpuset/camera-daemon/cpuset.mems 0
    write /dev/cpuset/camera-daemon/cpuset.cpus 4-7

    # Allow system to move tasks
    chown system system /dev/cpuset/tasks
    chmod 0664 /dev/cpuset/tasks
    chown system system /dev/cpuset/top-app/tasks
    chmod 0664 /dev/cpuset/top-app/tasks
    chown system system /dev/cpuset/foreground/tasks
    chmod 0664 /dev/cpuset/foreground/tasks
    chown system system /dev/cpuset/foreground/boost/tasks
    chmod 0664 /dev/cpuset/foreground/boost/tasks
    chown system system /dev/cpuset/background/tasks
    chmod 0664 /dev/cpuset/background/tasks
    chown system system /dev/cpuset/system-background/tasks
    chmod 0664 /dev/cpuset/system-background/tasks
    chown system system /dev/cpuset/restricted/tasks
    chmod 0664 /dev/cpuset/restricted/tasks
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks
